{
	# HTTP listener
	http_port 80
	# HTTPS listener
	https_port 443
}

ticketing.docker.dev {
	# Enable automatic HTTPS (Caddy will use local certificates for dev)
	tls internal

	# Auth/Users Service
	route /api/v1/auth/* {
		reverse_proxy auth-service:4000
	}
	route /api/v1/users/* {
		reverse_proxy auth-service:4000
	}
	# Ticket Service
	route /api/v1/tickets/* {
		reverse_proxy ticket-service:4001
	}
	# Order Service
	route /api/v1/orders/* {
		reverse_proxy order-service:4002
	}

	# Client (Frontend)
	route /* {
		respond "Not Found" 404
	}
}
