{
	# HTTP listener
	http_port 80
	https_port 443
}

ticketing.jiaulislam.dev {
	# Enable automatic HTTPS with local CA for dev
	tls internal

	# Auth/Users Service
	route /api/v1/auth/* {
		reverse_proxy auth.ticketing.dev:4000
	}
	route /api/v1/users/* {
		reverse_proxy auth.ticketing.dev:4000
	}
	# Ticket Service
	route /api/v1/tickets/* {
		reverse_proxy ticket.ticketing.dev:4001
	}
	# Order Service
	route /api/v1/orders/* {
		reverse_proxy order.ticketing.dev:4002
	}

	# Client (Frontend)
	route /* {
		reverse_proxy localhost:3000
	}
}
